In [45]:
import pandas as pd
import numpy
from sklearn.preprocessing import Imputer

df = pd.read_csv('1-training-data.csv', header=None)

#Remove first row
df = df.iloc[1:]

#Replace invalid values with NaN
df[[0,1,2,3,4,5,6,7]] = df[[0,1,2,3,4,5,6,7]].replace('?', numpy.NaN)

#Replace ? in this particular value with 5
df[[0]] = df[[0]].replace('1.?277005796', 1.5277005796)

#Ensure all values are numeric
df = df.apply(pd.to_numeric, errors='coerce')

#Replace all NaN values in every column with median of a particular group to which a row belongs
#In other words, use the class-specific mean value of an attribute
df[0] = df[0].fillna(df.groupby(8)[0].transform('mean'))
df[1] = df[1].fillna(df.groupby(8)[1].transform('mean'))
df[2] = df[2].fillna(df.groupby(8)[2].transform('mean'))
df[3] = df[3].fillna(df.groupby(8)[3].transform('mean'))
df[4] = df[4].fillna(df.groupby(8)[4].transform('mean'))
df[5] = df[5].fillna(df.groupby(8)[5].transform('mean'))
df[6] = df[6].fillna(df.groupby(8)[6].transform('mean'))
df[7] = df[7].fillna(df.groupby(8)[7].transform('mean'))
df

,0,1,2,3,4,5,6,7,8
1,2.521899,3.683394,66.323529,-0.634417,1.000000,0.409612,7.000000,30.000000,5
2,2.521899,3.732751,60.000000,1.573618,0.000000,0.639814,7.000000,30.000000,5
3,1.048504,3.096229,67.000000,0.249917,0.000000,0.089343,6.664740,80.000000,3
4,2.887677,3.870995,68.000000,-1.347755,0.552448,1.276986,6.830986,60.000000,5
5,2.731273,3.945024,79.000000,1.967320,1.000000,2.487831,7.063830,100.000000,4
...,...,...,...,...,...,...,...,...,...
996,3.125917,3.245430,68.000000,-0.142998,0.334821,2.540562,7.000000,36.435185,4
997,2.566080,3.567651,67.848485,0.717759,1.000000,2.414309,7.000000,70.000000,4
998,1.783414,3.574952,64.372781,0.411349,0.000000,1.234720,7.000000,60.000000,3
999,1.633291,4.130596,67.848485,1.938254,0.334821,-1.389201,6.000000,0.000000,4
1000,1.048504,4.138071,65.000000,2.107206,0.000000,-0.015180,6.000000,0.000000,3

In [46]:
#Split data set into test set and train set
x = df.iloc[:,:-1].values
y = df.iloc[:,-1].values
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [47]:
#Use decision tree to train a model
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
dt = DecisionTreeClassifier()
dt.fit(x_train,y_train)

#Evaluate the trained model
y_pred = dt.predict(x_test)
acc = accuracy_score(y_test,y_pred)
print(acc)

0.95

In [48]:
#Load and predict 15 examples in the test file
test = pd.read_csv('20162844-test.csv', header=None)

x_test = test.iloc[:,:-1].values
y_test = test.iloc[:,-1].values

y_test_pred = dt.predict(x_test)
print(y_test_pred)

[2 1 4 4 5 4 5 3 5 4 4 3 4 2 4]